%ul.unstyled.content-items.content-overview
  - collection.map(&:content_item).each do |content_item|
    = render :partial => "content_items/show", :locals => {:content_item => content_item}


- content_for(:contextual_sidebar) do
  - if @rejected.present?
    = t(".only_active_lists_hint")

  = render :layout => "shared/index/filter" do
    - filter_form do
      .control-group
        = label_tag :title, t("pages.index.filter.by_select")
        .controls
          %select{:name => "scope", :"data-submit" => "form"}
            %option{:value => ""}= t("pages.index.filter.select.all")
            %option{:value => "no_context", :selected => params[:scope] == "no_context" ? :selected : nil}= t("pages.index.filter.select.no_context")
