.inner-sidebar
  %h4= shared_snippet(".index.filter.header") #tt("#{controller_name}.index.filter.header", "shared.index.filter.header")
  %hr

  = filter_form do
    .control-group
      = label_tag :query, shared_snippet(".index.filter.by_query")
      .controls
        %input{:type => "text", :id => "query", :name => "query", :value => @filter_query}

  = yield

  %hr
  - if tags = current_domain.tags_for(resource_class).presence
    = form_tag(params.merge(:page => 1), :class => "form-stacked", :remote => true, :method => :get) do
      .control-group
        = label_tag :tags, shared_snippet(".index.filter.by_tags")
        .controls
          - tags.each do |tag|
            - current_tag = @filter_tag == tag.id
            = link_to tag.title, params.merge(:tag => current_tag ? nil : tag.id), :class => "label #{'label-info' if current_tag}"

    %hr
