#new-page-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => :modal} &times;
    %h3 Create new page
  .modal-body
    = render "pages/form", :resource => Page.new

#new-project-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => :modal} &times;
    %h3 Create new project
  .modal-body
    = render "projects/form", :resource => Project.new


- content_for(:page_header) do
  .btn-toolbar
    .btn-group
      = link_to icon(:"folder-close") + t("projects.index.new_project_link"), {:action => :new}, :class => "btn", :"data-toggle" => :modal, :"data-target" => "#new-project-modal"
      = link_to icon(:"file") + t("pages.index.new_page_link"), {:action => :new}, :class => "btn", :"data-toggle" => :modal, :"data-target" => "#new-page-modal"
      /
        %a.btn.dropdown-toggle{:"data-toggle" => "dropdown", :href => "#"}
          %span.caret
        %ul.dropdown-menu
          %li= link_to icon(:search) + "Search", {:action => :new}, :class => "", :"data-toggle" => :modal, :"data-target" => "#quick-jump-modal"
  