#new-page-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => "modal"} &times;
    %h3= t("shared.index.modal.new_page_title")
  .modal-body
    = render "pages/form", :resource => Page.new
  .modal-footer
    = buttons Page.new

#new-project-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => "modal"} &times;
    %h3= t("shared.index.modal.new_project_title")
  .modal-body
    = render "projects/form", :resource => Project.new
  .modal-footer
    = buttons Project.new

- content_for(:page_header) do
  .btn-toolbar
    .btn-group
      = link_to icon(:"project") + t("projects.index.new_project_link"), {:controller => "projects", :action => :new}, :class => "btn", :"data-toggle" => :modal, :"data-target" => "#new-project-modal"
      = link_to icon(:"page") + t("pages.index.new_page_link"), {:controller => "pages", :action => :new}, :class => "btn", :"data-toggle" => :modal, :"data-target" => "#new-page-modal"
