- content_for(:page_header) do
  .pull-right
    = link_to icon(:edit) + t(".edit_link"), {:action => :edit, :id => resource}, {:class => "btn edit"}

.activity-items
  - @activities.each do |activity|
    - if activity.resource.present?
      .activity-item{:class => "activity-item-#{activity.resource_type.underscore}"}
        .activity-title
          - if activity.context
            %span.activity-context
              - activity.context.resource.tap do |resource|
                = icon(resource.class.to_s.underscore.dasherize)
                = link_to_resource resource
          - if activity.content
            %span.activity-content
              - activity.content.holder.tap do |resource|
                = icon(resource.class.to_s.underscore.dasherize)
                = link_to_resource resource
                - if resource.respond_to?(:outer_content) && resource.outer_content
                  - resource.outer_content.holder.tap do |resource2|
                    %small (via #{link_to_resource resource2})
        .activity-action
          %small= tt(activity_tt_snippets(activity), activity_tt_options(activity)).html_safe
        .activity-body
          = render partial_for(activity.resource.class, :activity_show, "activities"), :resource => activity.resource, :activity => activity

        = spacer
