= link_to_function(t('shared.bulk_collection.add_tags.link'), "OUT.bulk.showOptionsHelper('#add-tags-modal');", :class => 'add_tags')

%input{:type => "hidden", :id => "bulk_add_tags_tag_list", :name => "bulk[add_tags]"}

- content_for(:bulk_options_helpers) do
  #add-tags-modal.bulk-options-helper.modal
    .modal-header
      %a.close{:href => "#"} &times;
      %h3= t('shared.bulk_collection.add_tags.link')
    .modal-body
      .clearfix.string.required
        %label.string.required{:for => "bulk_tag_list"}= t('shared.bulk_collection.add_tags.tag_list')
        .input
          %input.string.required#bulk_tag_list{:type => "text"}
    .modal-footer
      = submit_tag t('shared.bulk_collection.add_tags.submit'), :class => "btn btn-primary"
      = link_to_function t("helpers.cancel"), "#", :class => "btn cancel", :"data-dismiss" => :modal
