.entry{:id => dom_id(resource)}
  .checkbox
    %label{:for => "checkbox-for-#{dom_id(resource)}"}
      = check_box_tag "#{collection_key}[]", resource.id, false, :class => "bulk_item", :id => "checkbox-for-#{dom_id(resource)}"
  .text
    .pull-left
      = render :partial => resource_partial, :locals => {:resource => resource}
    .pull-right
      = render_tags_for(resource)
  .clearboth