#bulk_collection{:class => collection_key}
  - if collection.present?
    = form_tag(form_params, :id => 'bulk_form') do
      = hidden_field_tag :"bulk[action]", nil
      = hidden_field_tag :"bulk[return_to]", return_to
      .options
        %small.bulk-options
          %span.select_all
            = link_to_function t("shared.bulk_collection.select_all"), "OUT.bulk.selectAll();"
          %span.select#no_items_selected
            = select_hint
          %span.select#items_selected{:style => "display: none"}
            = t("shared.bulk_collection.selected")
            = select_options
          .clearboth
        = yield(:bulk_options_helpers)
      .collection
        - collection.each do |resource|
          = render :partial => "shared/bulk_collection_entry", :locals => {:collection_key => collection_key, :resource => resource, :resource_partial => resource_partial}
          