= simple_form_for resource do |f|
  = field_set_tag "Basics" do
    = f.input :title
    = f.input :tag_list

    = f.input :context_id, :collection => current_domain.projects.all.map { |project| [project.title, project.context.id] } << [t("pages.new.add_to_new_project"), -1]
    
    #add-to-new-project.hide
      .clearfix.string.required
        %label.string.required{:for => "project_title"} Title
        .input
          %input.string.required#project_title{:type => "text", :name => "project[title]"}

  = f.buttons