= simple_form_for resource do |f|
  = field_set_tag "Basics" do
    = f.input :title
    = f.input :tag_list

    = f.input :context_id, :collection => current_domain.projects.all.map { |project| [project.title, project.context.id] }

  = f.buttons