#new-modal.modal.hide
  .modal-header
    %a.close{:href => "#"} &times;
    %h3 Create new page
  .modal-body
    = render "form"

- content_for(:page_header) do
  = link_to t(".new_page_link"), {:action => "new"}, :class => "btn success open-modal", :"data-controls-modal" => "new-modal"

= bulk_collection do
  = bulk_action :add_tags
  = bulk_action :move_to_project
  = bulk_action :destroy