#new-page-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => :modal} &times;
    %h3 Create new page
  .modal-body
    = render "form"

- content_for(:page_header) do
  = link_to t(".new_page_link"), {:action => :new}, :class => "btn success", :"data-toggle" => :modal, :"data-target" => "#new-page-modal"

= bulk_collection do
  = bulk_action :add_tags
  = bulk_action :move_to_project
  = bulk_action :destroy

- content_for(:contextual_sidebar) do
  %h4 Filter view
  %hr

  %h5 By Name
  %input{:type => "text"}
  %hr

  %h5 By Tags
  %div.tags
    - current_domain.tags_for(:pages).each do |tag|
      = link_to tag, params.merge(:tag => tag), :class => "label"
  %hr
