.page-item
  = render "content_items/top_add_form", :content => resource.inner_content

= render "content/show", :content => resource.inner_content, :blank_slate => true

- content_for(:page_header) do
  .pull-right
    .btn-group
      = link_to t(".edit_link"), {:action => :edit, :id => resource}, {:class => "btn edit"}
      %a.btn.dropdown-toggle{:"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        %li= link_to favor_icon_with_title(resource), resource, data_attributes_for_favorite_toggle(resource)
        %li= link_to icon(:trash) + t(".delete_link"), {:action => :destroy, :id => resource}, {:method => :delete, :confirm => t(".confirm_delete")}

  = render_tags_for(resource)

= render "shared/sidebar_for_context"