:preserve
%pre
  = resource.inspect
%pre
  = " -> " + resource.content.inspect
%pre
  = " -> " + resource.content_items.inspect

= link_to "Edit", edit_resource_path(resource), :class => "btn"

= render :partial => "notes/new"

.content-items
  - resource.content_items.each do |content_item|
    = render :partial => "content_items/show", :locals => {:content_item => content_item}
