
#top-add-content-item-form.add-content-item-form
  %ul.nav.tabs#add-content-item-tabs.tabs{:"data-tabs" => "tabs"}
    - Outline::ContentItems.classes.each_with_index do |model, index|
      %li{:class => index == 0 ? :active : nil}
        = link_to model.to_s, "#new_#{model.to_s.underscore}", :"data-toggle" => :tab

  .tab-content
    - Outline::ContentItems.classes.each_with_index do |model, index|
      .tab-pane{:class => index == 0 ? :active : nil, :id => "new_#{model.to_s.underscore}"}
        = render partial_for(model, :new), :resource_class => model
  .clearboth
  = spacer

= render :partial => "content/show", :locals => {:content => resource.inner_content}

.page-footer
  &nbsp;

.hide
  .sortable-helper
    hover message

-content_for(:page_header) do
  .btn-group
    = link_to icon(:edit) + t(".edit_link"), {:action => :edit, :id => resource}, {:remote => true, :class => "btn edit"}
    %a.btn.dropdown-toggle{:"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      %li= link_to icon(:trash) + t(".delete_link"), {:action => :destroy, :id => resource}, {:method => :delete, :confirm => t(".confirm_delete")}


- content_for(:contextual_sidebar) do
  %ul.nav.list
    %li.nav-header Pages
    - current_domain.pages.limit(20).each do |page|
      %li{:class => current_page?(page) ? :active : nil}= link_to page.title, page