= render "content_items/top_add_form", :content => resource.inner_content

= render "content/show", :content => resource.inner_content

.page-footer
  &nbsp;

-content_for(:page_header) do
  .btn-group
    = link_to icon(:edit) + t(".edit_link"), {:action => :edit, :id => resource}, {:remote => true, :class => "btn edit"}
    %a.btn.dropdown-toggle{:"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      %li= link_to icon(:trash) + t(".delete_link"), {:action => :destroy, :id => resource}, {:method => :delete, :confirm => t(".confirm_delete")}


- content_for(:contextual_sidebar) do
  %ul.nav.nav-list
    %li.nav-header Pages
    - current_domain.pages.limit(20).each do |page|
      %li{:class => current_page?(page) ? :active : nil}= link_to page.title, page