= simple_form_for resource, :html => {:remote => remote} do |form|
  = form.hidden_field :content_id
  = render :partial => "#{object_controller}/form", :locals => {:resource => resource, :form => form}
  = form.buttons(:remote => remote)