- item = content_item.item
- item_path = item.class.to_s.underscore.pluralize

%li.content-item{:class => "content-item-#{item.class.to_s.underscore.dasherize}", :id => dom_id(content_item)}
  %div.content-item-wrapper.item-type{:id => dom_id(item)}
    %span.move-handle
      = image_tag "blank.png", :size => "20x20"
    .content-item-options
      .btn-group
        = link_to "Edit", {:controller => item_path, :action => :edit, :id => item}, {:remote => true, :class => "btn edit"}
        %a.btn.dropdown-toggle{:"data-toggle" => "dropdown"}
          %span.caret
        %ul.dropdown-menu
          %li= link_to icon(:trash) + "Delete Item", {:controller => item_path, :action => :destroy, :id => item}, {:remote => true, :method => :delete}
          
    .content-item-inner
      .content-item-body
        = render :partial => "#{item_path}/show", :locals => {:resource => item}
  = spacer
  