- item = content_item.item
- item_path = item.class.to_s.underscore.pluralize

%li.content-item{:class => "content-item-#{item.class.to_s.underscore.dasherize}", :id => dom_id(content_item)}
  %div.content-item-wrapper.item-type{:id => dom_id(item)}
    %span.move-handle
      = icon "reorder"
    = render partial_for(item.class, :content_item_options), :content_item => content_item

    .content-item-inner
      .content-item-body
        = render :partial => "#{item_path}/show", :locals => {:resource => item}
  = spacer
  