#top-add-content-item-form.add-content-item-form
  %ul.nav.nav-tabs#add-content-item-tabs{:"data-toggle" => "tab"}
    - Outline::ContentItems.classes.each_with_index do |model, index|
      %li{:class => index == 0 ? :active : nil}
        = link_to model.to_s, "#new_#{model.to_s.underscore}", :"data-toggle" => :tab

  .tab-content
    - Outline::ContentItems.classes.each_with_index do |model, index|
      .tab-pane{:class => index == 0 ? :active : nil, :id => "new_#{model.to_s.underscore}"}
        = render partial_for(model, :new), :resource_class => model, :content => content
  .clearboth
  = spacer
