%ul.unstyled.content-items{:class => "content-#{resource.class.to_s.underscore.dasherize}"}
  = render "content_items/show", :content_item => resource.content_item

.page-item
  .page-item-inner
    .back= link_to "&laquo; Back".html_safe, resource.outer_content.holder, :class => "btn"

= render "projects/sidebar"

- content_for(:page_header) do
  .pull-right
    = favorite_button resource
