#new-project-modal.modal
  .modal-header
    %a.close{:"data-dismiss" => :modal} &times;
    %h3 Create new project
  .modal-body
    = render "form"

- content_for(:page_header) do
  = link_to t(".new_project_link"), {:action => :new}, :class => "btn success", :"data-toggle" => "modal", :"data-target" => "#new-project-modal"

= bulk_collection do
  = bulk_action :add_tags
  = link_to_function(t('.deactivate_project'), "OUT.bulk.execute('deactivate', this);", :class => 'deactivate')
  = link_to_function(t('.activate_project'), "OUT.bulk.execute('activate', this);", :class => 'activate')
  = bulk_action :destroy
