#new-page-modal.modal{:style => "display: none;"}
  .modal-header
    %a.close{:"data-dismiss" => "modal"} &times;
    %h3= t("shared.index.modal.new_page_title")
  .modal-body
    = render "pages/form", :resource => Page.new(:context_id => current_project.try(:context).try(:id))
  .modal-footer
    = buttons Page.new

- content_for(:page_header) do
  .btn-group
    = link_to "Edit", edit_resource_path(resource), :class => "btn"
    %a.btn.dropdown-toggle{:"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      %li= link_to favor_icon_with_title(resource), resource, data_attributes_for_favorite_toggle(resource)
      %li= link_to icon(:page) + t("pages.index.new_page_link"), {:action => :new}, :"data-toggle" => :modal, :"data-target" => "#new-page-modal"

  = render_tags_for(resource)


.page-item
  = render "content_items/top_add_form", :content => resource.inner_content

= render "content/show", :content => resource.inner_content, :sortable => false

= render "shared/sidebar_for_context"