.container
  .page-wrapper
    .row
      .span12
        .page-header
          .pull-left
            %h1
              = t("#{controller_name}.#{action_name}.page_header")
              %small
                = t("#{controller_name}.#{action_name}.page_hint")
          .pull-right
            = yield(:page_header)
          .clearboth
    .row
      .span9
        .content
          = yield
      .span3
        .sidebar
          = yield(:contextual_sidebar)
    .clearboth