.container
  .row
    .span2
      = render themed("sidebar-left")
    .span10
      .page-wrapper
        .page-header
          .pull-left
            %h1
              = t("#{controller_name}.#{action_name}.page_header")
              %small
                = t("#{controller_name}.#{action_name}.page_hint")
          .pull-right
            = yield(:page_header)
          .clearboth

        .page-item
          .row
            .span7
              .content
                = yield
            .span3
              .sidebar
                = yield(:contextual_sidebar)
        .page-footer
    .clearboth