.container
  .row
    .span2
      = render themed("sidebar-left")
    .span8
      .content
        .page-header
          .pull-left
            - unless resource.new_record?
              = form_tag set_favorites_path, :remote => true do
                = hidden_field_tag "favorite[resource_type]", resource.class
                = hidden_field_tag "favorite[resource_id]", resource.id
                %label.radio
                  %input{:type => :checkbox, :name => "active", :"data-toggle" => "favorite", :value => "true", :checked => favorited?(resource) ? :checked : nil}
                  = icon(favorited?(resource) ? "favorite" : "no-favorite")

          .pull-left
            %h1
              - if @page_header.present?
                = @page_header
                - if @page_hint.present?
                  %small= @page_hint
              - elsif !resource_is_context_resource? && resource.respond_to?(:title)
                = inline_user_text(resource.title)
              - else
                = t("#{controller_name}.#{action_name}.page_header")
                %small
                  = t("#{controller_name}.#{action_name}.page_hint")
          .pull-right
            = yield(:page_header)
          .clearboth
        = yield
        .page-footer
    .span2
      .sidebar.sidebar-right
        = yield(:contextual_sidebar)
  .clearboth