.container
  .row
    .span9
      .content
        .page-wrapper
          .page-header
            .pull-left
              %h1
                - if resource.respond_to?(:title)
                  = resource.title
                - else
                  = t("#{controller_name}.#{action_name}.page_header")
                  %small
                    = t("#{controller_name}.#{action_name}.page_hint")
            .pull-right
              = yield(:page_header)
            .clearboth
          = yield
    .span3
      .sidebar
        = yield(:contextual_sidebar)
  .clearboth