%head
  %title Outline
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "themes/#{current_theme}"
  = javascript_include_tag "application"
  = csrf_meta_tags 

  %style{:type => "text/css"}