%head
  %title= html_title

  %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
  %link{:rel => "icon", :href => "/favicon.ico", :type => "image/x-icon"}
  
  = stylesheet_link_tag    "application", :media => :all
  = stylesheet_link_tag    "themes/#{current_theme}/all"
  = stylesheet_link_tag    "print", :media => :print
  = javascript_include_tag "application"
  = csrf_meta_tags 

  %style{:type => "text/css"}