- if logged_in?
  .navbar-wrapper
    .navbar-dummy
    .navbar.navbar-static
      .navbar-inner
        .container
          %ul.nav.pull-left
            %li= link_to current_domain.title, root_path, :class => "brand"

            %li.dropdown
              %a.dropdown-toggle.direct-search-toggle{:"data-toggle" => :dropdown, :href => "#"}
                = t("navigation.projects")
                %b.caret

              %ul.dropdown-menu
                %li
                  %form.direct-search{:action => projects_url, :method => "GET"}
                    %input{:type => "text", :placeholder => "Search..."}
                %li.divider
                - current_domain.projects.where(:active => true).limit(25).order("UPPER(title) ASC").each do |project|
                  %li= link_to project.title, project
                %li.divider
                %li= link_to t("navigation.all_projects"), projects_path


            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"}
                = t("navigation.pages")
                %b.caret

              %ul.dropdown-menu
                %li= link_to t("navigation.all_pages"), pages_path
                %li.divider
                - current_domain.pages.where("context_id IS NULL").limit(25).order("UPPER(title) ASC").each do |page|
                  %li= link_to page.title, page


          %ul.nav.pull-right
            %li.my-page= link_to current_user.name, user_path(current_user)
            %li.options.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"}
                = icon :cog
                =# t("navigation.options")
                %b.caret

              %ul.dropdown-menu
                %li= link_to t("navigation.users"), users_path
                %li= link_to t("navigation.settings"), settings_path
                %li.divider
                %li=# link_to t("navigation.my_profile"), edit_user_path(current_user)
                %li= link_to icon(:off) + t("navigation.logout"), logout_path
