- if logged_in?
  .navbar-wrapper
    .navbar-dummy
    .navbar.navbar-static
      .navbar-inner
        .container
          %ul.nav.pull-left
            %li= link_to current_domain.title, root_path, :class => "brand"

            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"}
                = t("navigation.projects")
                %b.caret

              %ul.dropdown-menu.quickjump-dropdown{:"data-target-type" => "project", :"data-new-template" => t("navigation.create_new_project_from_search"), :"data-index-link" => t("navigation.all_projects"), :"data-target-url" => url_for(:controller => "quick_jump_targets", :action => "projects")}
                %li.quickjump-input
                  %input{:type => "text", :placeholder => "Search..."}
                %li.divider.insert-results-after
                - current_domain.projects.where(:active => true).limit(25).order("UPPER(title) ASC").each do |project|
                  %li= link_to project.title, project
                %li.divider
                %li= link_to t("navigation.all_projects"), projects_path


            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"}
                = t("navigation.pages")
                %b.caret

              %ul.dropdown-menu.quickjump-dropdown{:"data-target-type" => "page", :"data-new-template" => t("navigation.create_new_page_from_search"), :"data-index-link" => t("navigation.all_pages"), :"data-target-url" => url_for(:controller => "quick_jump_targets", :action => "pages")}
                %li.quickjump-input
                  %input{:type => "text", :placeholder => "Search..."}
                %li.divider.insert-results-after
                - current_domain.pages.where("context_id IS NULL").limit(25).order("UPPER(title) ASC").each do |page|
                  %li= link_to page.title, page
                %li.divider
                %li= link_to t("navigation.all_pages"), pages_path

          %ul.nav.pull-right
            %li.my-page= link_to current_user.name, user_path(current_user)
            %li.options.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"}
                = icon :cog
                =# t("navigation.options")
                %b.caret

              %ul.dropdown-menu
                %li= link_to icon(:user) + t("navigation.users"), users_path
                %li= link_to icon(:picture) + t("navigation.settings"), settings_path
                %li.divider
                %li=# link_to t("navigation.my_profile"), edit_user_path(current_user)
                %li= link_to icon(:signout) + t("navigation.logout"), logout_path
