- if logged_in?
  .navbar-wrapper
    .navbar-dummy
    .navbar.navbar-static
      .navbar-inner
        .container
          =# link_to current_domain.try(:title), root_path, :class => "brand brand-dark"
          
          %ul.nav.pull-left
            - if current_project.blank?
              = nav_to t("navigation.activities"), :activities
            - else
              %li= link_to current_project.title, current_project, :class => "brand"
              %li.active= link_to "Pages", "#"
              %li= link_to "To-Dos", todo_lists_project_path(current_project)
              %li= link_to "Files", "#"
          /
            %form.navbar-search.pull-left{:action => ""}
              = text_field_tag "query", "", :class => "search-query span2", :placeholder => "Search"

        
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"} 
                = t("navigation.projects")
                %b.caret
              
              %ul.dropdown-menu
                %li= link_to t("navigation.all_projects"), projects_path
                %li.divider
                - current_domain.projects.where(:active => true).limit(25).order("UPPER(title) ASC").each do |project|
                  %li= link_to project.title, project


            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"} 
                = t("navigation.pages")
                %b.caret
              
              %ul.dropdown-menu
                %li= link_to t("navigation.all_pages"), pages_path
                %li.divider
                - current_domain.pages.where("context_id IS NULL").limit(25).order("UPPER(title) ASC").each do |page|
                  %li= link_to page.title, page
                  

            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"} 
                = t("navigation.options")
                %b.caret
              
              %ul.dropdown-menu
                %li= link_to t("navigation.users"), users_path
                %li= link_to t("navigation.settings"), users_path
                %li.divider
                %li= link_to t("navigation.my_profile"), edit_user_path(current_user)
                %li= link_to icon(:off) + t("navigation.logout"), logout_path
