- if logged_in?
  .navbar.navbar-static
    .navbar-inner
      .container
        = link_to current_domain.try(:title), root_path, :class => "brand brand-dark"
        
        %ul.nav.pull-left
          = nav_to "Projects", :projects
          = nav_to "Pages", :pages
        / 
          %form.navbar-search.pull-left{:action => ""}
            = text_field_tag "query", "", :class => "search-query span2", :placeholder => "Search"

      
        %ul.nav.pull-right
          %li= link_to "My Page", "#"
          %li.vertical-divider
          %li.dropdown
            %a.dropdown-toggle{:"data-toggle" => :dropdown, :href => "#"} 
              Options
              %b.caret
            
            %ul.dropdown-menu
              %li= link_to "Users", users_path
              %li= link_to "Settings", users_path
              %li.divider
              %li= link_to "Edit My Profile", edit_user_path(current_user)
              %li= link_to icon(:off) + " Logout", logout_path
