= render "shared/index/toolbar"

.activity-items
  - collection.each do |activity|
    - if activity.resource.present?
      .activity-item{:class => "activity-item-#{activity.resource_type.underscore}"}
        .activity-title
          - if activity.context
            %span.activity-context
              - activity.context.resource.tap do |resource|
                = icon(resource.class.to_s.underscore.dasherize)
                = link_to_resource resource
          - if activity.content
            %span.activity-content
              - activity.content.holder.tap do |resource|
                = icon(resource.class.to_s.underscore.dasherize)
                = link_to_resource resource
                - if resource.respond_to?(:outer_content) && resource.outer_content
                  - resource.outer_content.holder.tap do |resource2|
                    %small (via #{link_to_resource resource2})
        .activity-action
          %small= tt(activity_tt_snippets(activity), activity_tt_options(activity)).html_safe
        .activity-body
          = render partial_for(activity.resource.class, :activity_show, "activities"), :resource => activity.resource, :activity => activity

        = spacer

- content_for(:contextual_sidebar) do
  - todo_lists = current_domain.todo_lists.where(:user_id => current_user).first(2)
  - if todo_lists.present?
    %ul.nav.nav-list
      %li.nav-header To-Do Lists
    - todo_lists.each do |todo_list|
      .well
        %h5= link_to inline_user_text(todo_list.title), todo_list
        %ul.unstyled.todo-list
          - todo_list.active_todos.each do |todo|
            %li
              .todo{:id => dom_id(todo)}
                .todo-checkbox
                  %input{:type => :checkbox, :checked => todo.active? ? nil : :checked, :"data-url" => set_active_todo_path(todo)}
                .todo-title
                  = inline_user_text todo.title
                .clearboth
          %li= link_to "Add To-Do", "#", :class => "new"

