= render "shared/index/toolbar"

.activity-items
  - collection.each do |activity|
    - if activity.resource.present?
      .activity-item
        .activity-title
          - if activity.context
            %span.activity-context
              = icon(:"folder-close")
              = link_to_resource activity.context.resource
          - if activity.content
            %span.activity-content
              = icon(:file)
              = link_to_resource activity.content.holder
        .activity-action
          %small= tt(activity_tt_snippets(activity), activity_tt_options(activity)).html_safe
        .activity-body
          = render partial_for(activity.resource.class, :activity_entry, "activities"), :resource => activity.resource, :activity => activity

        = spacer

%table.table.table-striped
  %thead
    %th{:colspan => 2} Resource
    %th verb
    %th action
    %th context
    %th content
  %tbody
    - collection.each do |activity|
      %tr
        %td= activity.resource_type
        %td= activity.resource_id
        %td= activity.verb
        %td= activity.action
        %td= activity.context_id
        %td= activity.content_id


- content_for(:contextual_sidebar) do
  
  %ul.nav.list
    %li.nav-header Recently viewed
    - @recently_viewed.each do |item|
      %li= link_to item.title, item