= render "shared/index/toolbar"

.activity-items
  - collection.each do |activity|
    - if activity.resource.present?
      .activity-item{:class => "activity-item-#{activity.resource_type.underscore}"}
        .activity-title
          - if activity.context
            %span.activity-context
              - activity.context.resource.tap do |resource|
                = icon(resource.class.to_s.underscore.dasherize)
                = link_to_resource resource
          - if activity.content
            %span.activity-content
              - activity.content.holder.tap do |resource|
                = icon(resource.class.to_s.underscore.dasherize)
                = link_to_resource resource
                - if resource.respond_to?(:outer_content) && resource.outer_content
                  - resource.outer_content.holder.tap do |resource2|
                    %small (via #{link_to_resource resource2})
        .activity-action
          %small= tt(activity_tt_snippets(activity), activity_tt_options(activity)).html_safe
        .activity-body
          = render partial_for(activity.resource.class, :activity_show, "activities"), :resource => activity.resource, :activity => activity

        = spacer

%table.table.table-striped
  %thead
    %th{:colspan => 2} Resource
    %th verb
    %th action
    %th context
    %th content
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.resource_type
        %td= activity.resource_id
        %td= activity.verb
        %td= activity.action
        %td= activity.context_id
        %td= activity.content_id


- content_for(:contextual_sidebar) do
  - todo_lists = current_domain.todo_lists.where(:user_id => current_user).first(2)
  - if todo_lists.present?
    %ul.nav.nav-list
      %li.nav-header To-Dos
    - todo_lists.each do |todo_list|
      .well
        %h5= link_to inline_user_text(todo_list.title), todo_list
        %ul.unstyled.todo-list
          - todo_list.active_todos.each do |todo|
            %li
              .todo{:id => dom_id(todo)}
                %input.todo-checkbox{:type => :checkbox, :checked => todo.active? ? nil : :checked, :"data-url" => set_active_todo_path(todo)}
                %span= inline_user_text todo.title
                .clearboth
          %li= link_to "Add To-Do", "#", :class => "new"


- content_for(:contextual_sidebar) do
  
  %ul.nav.nav-list
    %li.nav-header= "Recently viewed projects"
    - @recently_viewed_projects.each do |item|
      %li= link_to item.title, item

  %ul.nav.nav-list
    %li.nav-header= "Recently viewed pages"
    - @recently_viewed_pages.each do |item|
      %li= link_to item.title, item
