<%= form_for :user_session, :url => '/user_sessions', :html => {:class => "simple_form"} do |f| %>
  <div class="clearfix">
    <%= f.label :login, t("user_sessions.new.login") %>
    <div class="input">
      <%= f.text_field :login, :class => "xlarge" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password, t("user_sessions.new.password") %>
    <div class="input">
      <%= f.password_field :password, :class => "xlarge" %>
    </div>
  </div>
  <% if @failed %>
    <div class="alert alert-error">
      <%= t("user_sessions.new.failed") %>
    </div>
  <% end %>
  <div class="modal-footer">
    <%= f.submit t("user_sessions.new.submit"), :class => "btn btn-primary" %>
  </div>
<% end %>