<div class="box">
  <% if @success %>
    <p class="success">
      <%= t("user_sessions.forgot_password.success", :email => @user.email) %>
    </p>
  <% else %>
    <%= form_for :user_session, :url => forgot_password_url do |f| %>
      <p>
        <%= f.label :email, t("user_sessions.forgot_password.login_or_email") %><br>
        <%= f.text_field :email %>
      </p>
      <% if @failed %>
        <p class="bad">
          <%= t("user_sessions.forgot_password.failed") %>
        </p>
      <% end %>
      <p>
        <%= f.submit t("user_sessions.forgot_password.submit") %>
      </p>
    <% end %>
  <% end %>  
  <p>
    <%= link_to t("user_sessions.forgot_password.back_to_login"), login_path %>
  </p>
  
  <%= auto_link( simple_format(@mail.body.to_s)).html_safe if @mail && Rails.env == "development" %>
</div>