
#login-modal.modalXXX
  = form_for :user_session, :url => '/user_sessions', :html => {:class => "simple_form form-horizontal", :id => "login_form"} do |f|
    .modal-header
      %h3= t("user_sessions.new.page_title")
    .modal-body
      - if @failed
        .alert.alert-error
          = t("user_sessions.new.failed")
      .control-group
        = f.label :login, t("user_sessions.new.login")
        .controls
          = f.text_field :login, :class => "xlarge"
      .control-group
        = f.label :password, t("user_sessions.new.password")
        .controls
          = f.password_field :password, :class => "xlarge"
    .modal-footer
      #logging_in{:style => "display: none"}
        .progress.info.striped.active
          .bar{:style => "width: 100%"}
      = f.submit t("user_sessions.new.submit"), :class => "btn btn-primary"

:javascript
  $('#login_form').bind("submit", function(e) {
    $(this).find("#logging_in").show();
    $(this).find(".btn-primary").hide();
    return true;
  })