<div class="box">
  <% if @success %>
    <p class="success">
      <%= t("user_sessions.reset_password.success") %>
    </p>
  <% else %>
    <% if @user %>
      <p>
        <%= t("user_sessions.reset_password.intro") %>
      </p>
    	<%= semantic_form_for(@user, :url => reset_password_url) do |f| %>
    	  <%= hidden_field_tag :user_id, params[:user_id] %>
    	  <%= hidden_field_tag :password_reset_key, params[:password_reset_key] %>
  
    	  <%= f.inputs :change_password do %>
    	    <%= f.input :password %>
    	    <%= f.input :password_confirmation %>
    	  <% end %>
  
    	  <%= f.buttons %>
    	<% end %>
    <% else %>
      <p class="error">
        Invalid code.
      </p>
  	<% end %>
  <% end %>
</div>