
%li.content-item.blank-slate
  .content-item-inner
    .content-item-body
      %h2= tt("#{controller_name}.blank_slate.header", "shared.blank_slate.header")
      %p= tt("#{controller_name}.blank_slate.body", "shared.blank_slate.body")
  = spacer
