- if !defined?(content_items) then content_items = content.content_items end
- if !defined?(sortable) then sortable = true end
- if !defined?(blank_slate) then blank_slate = false end

%ul.unstyled.content-items{:class => "content-#{content.holder_type.underscore.dasherize} #{sortable ? :sortable : :'not-sortable'}", :id => dom_id(content), :"data-sort-url" => sortable ? "/#{content.holder_type.underscore.pluralize}/#{content.holder.try :id}/sort_content" : nil}
  - if content_items.present?
    - content_items.each do |content_item|
      = render :partial => "content_items/show", :locals => {:content_item => content_item}
  - else
    = render "content/blank_slate" if blank_slate